*{
    padding: 0;
    margin: 0;
}

header{
    min-height: 20vh;
    background-color: dodgerblue;
    color: white;
}

main{
    min-height: 60vh;
}

footer{
    min-height: 20vh;
    background-color: #222;
    color: white;
}

.button{
    background-color: dodgerblue;
    color: white;
}

.select{
    /*background-color: rgb(5, 83, 128);*/
    background-color: rgb(185, 209, 221);
    color: yellow;
    cursor: pointer;
}

.select option{
    background-color: crimson;
    color: yellow;
}

input[type="text"]{
    color: dodgerblue;
}